.actions {
  display: grid;
  padding-block-start: 1.5rem;
  grid-template-columns: 1fr 5.5rem;
  grid-template-rows: auto auto 1fr;
  gap: 1.5rem;
  grid-template-areas: "variants variants" "search navigation" "description navigation";
}
